<nav>
  <div style="display: flex; align-items: center;">
    <!-- Profile Picture -->
    <img src="/assets/DSC_0767.JPG" alt="Profile Picture" style="width: 40px; height: 40px; border-radius: 50%; margin-right: 10px;">
    
    <!-- Links -->
    <a href="/" style="margin-right: 20px;">Home</a>
    <a href="/projects" style="margin-right: 20px;">Projects</a>
    <a href="/assets/Resume.pdf" style="margin-right: 20px;">Resume</a>
    <a href="https://www.linkedin.com/in/brennan-gillgrist-012698267/" target="_blank">LinkedIn</a>
  </div>
</nav>
